IntelliSearch –AI Knowledge Assistant/IntelliSearch –AI Knowledge Assistant.json
{
  "name": "IntelliSearch –AI Knowledge Assistant",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -80
      ],
      "id": "eaa893c7-afaa-4e59-acb7-4e67cce8ed94",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1VieWoMYq1bpLL6VsqLwOFARmreP6xe-w",
            "mode": "list",
            "cachedResultName": "AI",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1VieWoMYq1bpLL6VsqLwOFARmreP6xe-w"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -144,
        -80
      ],
      "id": "2e233d30-5759-4eef-a117-85fe5445f37b",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EHPyei4EGxNrGSr0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        -80
      ],
      "id": "b26811b9-f6d8-4794-9254-a8f247e9ddef",
      "name": "Ger Content",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EHPyei4EGxNrGSr0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -144,
        -416
      ],
      "id": "9c70e229-c9f6-418d-a409-1a21abc42457",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -240,
        -272
      ],
      "id": "5884ce1d-be26-486a-9382-e95f55814af5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "umZ29ZgzERtA00Mo",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        288,
        -80
      ],
      "id": "2fc172cb-d322-4326-8c38-1467b61502cb",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "w8xPRg6k6B5KTbVa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        592,
        32
      ],
      "id": "ee0e4007-6ad8-46a1-b2fb-6c59ebb07688",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        592,
        176
      ],
      "id": "c0fc3e1b-31bb-42d2-b5f7-11ebca42ee86",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve answers for query from chat input",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        192,
        -304
      ],
      "id": "b1f2b577-98aa-4f6a-ab6f-5644f30718be",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "w8xPRg6k6B5KTbVa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.question }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -80,
        -256
      ],
      "id": "241dea67-1e58-438f-ad86-a3fdd00f70b2",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "iWZXZn7JmkkSuUsa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        128
      ],
      "id": "98378d4b-1397-4cbe-94b1-ee6df58a5891",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "umZ29ZgzERtA00Mo",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ea92c30d-2023-4772-950f-e7ff7fcf473a",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        -416
      ],
      "id": "896c10c5-2586-4aeb-b6b1-fb7a4069aa9d",
      "name": "Webhook",
      "webhookId": "ea92c30d-2023-4772-950f-e7ff7fcf473a"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Ger Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ger Content": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ddb5d729-ef39-4fcc-a00c-09fc7d361fe5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad132e3faabfe9ad8db11bc5619f54ed98a75b583c1bdde876fa460edc7b4b0f"
  },
  "id": "3kZ2h6Lpke06nPRM",
  "tags": []
}